Homer/*
input/*
LOGS/
output/*
macrophage_output/
reference_genome/
reference_networks/
*.png
*.csv
*.tsv
*.motifs
*.log
*.err
*.txt
*.html
*.tar
*.tar.gz
*.zip
*.ls
*.pos
*.seq
*.tmp
motif_pwms/*
other_method_grns
figures
yasin_motif_binding_code/