homer/
input/*
LOGS/
output/*
macrophage_output/
reference_genome/
reference_networks/
*.png
*.csv
*.tsv
*.motifs
*.log
*.err
*.txt
*.html
*.tar
*.tar.gz
*.zip
*.ls
*.pos
*.seq
*.tmp
*.bed
*.pairs
*.npz
*.out
*.parquet
motif_pwms/*
other_method_grns
figures
MEME_ALL_MOTIFS/
motif_binding_output/
*.pkl
motif_information/
ground_truth_files/*
yasin_motif_binding_code
string_protein_links.txt
Hi-C_data/
.pybiomart.sqlite
enhancer_db/
tmp/
keypairs.json
string_database/
__pycache__/
train_test_splits
.vscode