homer/
input/*
LOGS/
output/*
outputs
dist/
transformer_data
macrophage_output/
reference_networks/
.venv/
poster_results/
checkpoint.pt
dev/notebooks/sliding_window_calculation_method_testing_cache
*.png
*.csv
*.meme
*.pwm
*.pfm
*.jaspar
*.tsv
*.motifs
*.log
*.err
*.txt
*.html
*.tar
*.tar.gz
*.zip
*.ls
*.pos
*.seq
*.tmp
*.bed
*.pairs
*.npz
*.out
*.parquet

# Keep the motif information
data/databases/motif_information/**
!data/databases/motif_information/

data/databases/motif_information/mm10/**
!data/databases/motif_information/mm10/
!data/databases/motif_information/mm10/TF_Information_all_motifs.txt
!data/databases/motif_information/mm10/pwms_all_motifs/
!data/databases/motif_information/mm10/pwms_all_motifs/**

data/databases/motif_information/hg38/**
!data/databases/motif_information/hg38/
!data/databases/motif_information/hg38/TF_Information_all_motifs.txt
!data/databases/motif_information/hg38/pwms_all_motifs/
!data/databases/motif_information/hg38/pwms_all_motifs/**


data/genome_data/genome_annotation/**
!data/genome_data/genome_annotation/.gitkeep

data/genome_data/reference_genome/**
!data/genome_data/reference_genome/.gitkeep

data/ground_truth_files/**
!data/ground_truth_files/.gitkeep

data/prior_knowledge_network_data/**
!data/prior_knowledge_network_data/.gitkeep

data/processed/**
!data/processed/.gitkeep

# Keep the example DS012 data, ignore the rest of the files in data/raw
data/raw/**
!data/raw/.gitkeep
data/raw/DS012_mESC/**
!data/raw/DS012_mESC/
data/raw/DS012_mESC/DS012_sample/**
!data/raw/DS012_mESC/DS012_sample/
!data/raw/DS012_mESC/DS012_sample/scATAC_seq_processed.parquet
!data/raw/DS012_mESC/DS012_sample/scRNA_seq_processed.parquet

data/training_data_cache/**
!data/training_data_cache/.gitkeep

training_data_cache_old/

GAT_training_outputs/
experiments/*
motif_pwms/*
other_method_grns
figures
MEME_ALL_MOTIFS/
motif_binding_output/
*.pkl
ground_truth_files/*
yasin_motif_binding_code
string_protein_links.txt
Hi-C_data/
.pybiomart.sqlite
enhancer_db/
tmp/
keypairs.json
string_database/
__pycache__/
train_test_splits
.vscode
dev/logs